// Bootstrap variable overrides
$enable-responsive-font-sizes: true;

$primary: #15425c;
$secondary: #1384b7;
$success: #74e270;
$info: #039ee0;
$warning: #ff969c;
$danger: #fd6d75;
$light: #e0e0e0;
$dark: #5e6878;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$body-bg: #fff;
$body-color: $dark;

$link-color: $dark;
$link-decoration: none;
$link-hover-decoration: none;

$font-family-sans-serif: "Gilroy", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-root: 1rem;
$font-size-base: 1.125rem;
$font-size-lg: $font-size-root * 1.25;
$font-size-xl: $font-size-root * 1.5;

$line-height-base: 2;
$line-height-sm: 1.5;
$line-height-lg: 2.5;

$h1-font-size: $font-size-root * 3.75;
$h2-font-size: $font-size-root * 3;
$h3-font-size: $font-size-root * 2.125;
$h4-font-size: $font-size-root * 1.5;
$h5-font-size: $font-size-root * 1.25;

$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: $primary;

$navbar-nav-link-padding-x: 1rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #fff;
