@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Radomir Tinkov - Gilroy-Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Radomir Tinkov - Gilroy-Regular.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Radomir Tinkov - Gilroy-SemiBold.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}
  