.header-home {
    min-height: 100vh;
    margin-bottom: 100px;
    background-image: url("../images/header/header_home.svg");
    background-size: cover;

    .header-image {
        height: 70vh;
    }
}

.header-page {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.navbar {

    .nav-item {
        font-size: $font-size-lg;

        .underline {
            position: relative;
            top: -6px;
            background-color: #fff;
            height: 2px;
            width: 0;
            transition: width 0.4s;
            margin: auto;
        }

        &:hover .underline,
        &:active .underline,
        &.active .underline {
            width: 80%;
        }
    }

}
