.bg-shapes-home {
    position: absolute;
    left: 50%;
    top: -300px;
    transform: translateX(-50%);
    z-index: -1;
}

.services {
    margin-bottom: 84px;
}

.customers-home {
    margin-bottom: 200px;
}

@include media-breakpoint-down(md) {

    .customers-home {
        margin-bottom: 80px; 
    }
}