.about-services {
    margin-bottom: 100px;

    .bg-line-services {
        position: absolute;
        left: 50%;
        top: -240px;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.service-list {
    .service {
        margin-bottom: 140px;

        .service-icon {
            border-radius: 10px;
            background-color: rgba(227, 241, 253, 0.6);
            padding: 80px 80px 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .bar-long {
                height: 20px;
                width: 100%;
                border-radius: 2px;
                background-color: rgba(0, 64, 113, 0.3);
            }

            .bar-short {
                height: 20px;
                width: 70%;
                border-radius: 2px;
                background-color: rgba(0, 64, 113, 0.1);
            }
        }
    }
}

@include media-breakpoint-down(md) {

    .service-list {
        .service {
            margin-bottom: 60px; 
        }
    }
}

.other-areas {
    background-image: linear-gradient(to right, #e6eeff, #def4fe);
    padding-top: 90px;
    padding-bottom: 100px;
}