.core-team {
    padding-top: 40px;
    padding-bottom: 100px;

    .team-icon {
        width: 70px;
        height: 70px;
        box-shadow: 0 5px 10px 0 rgba(202, 221, 243, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-placeholder {
        height: 86px;
        width: 87px;
    }
}

.bg-shapes-team {
    z-index: 0;
    top: 20px;
}
