<section class="about-services">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col text-center">
                <img class="mb-4" src="{{ 'assets/images/icons/about-icon.svg' | relative_url }}" alt="About" width="80">
                <h5 class="text-info spaced mb-5">VNK CONSULTANTS SERVICES</h5>
                <h2 class="mb-5">Srategy Implementation and Support</h2>
                <p class="text-xlarge font-weight-light mb-4">At VNK Consulting Group, our approach to IT consulting is different than the competition; we provide highly specialized engineering resources to small and medium-sized businesses.</p>
                <p class="text-xlarge font-weight-light">Typically companies of this size don’t tent to have a need or the budget for full-time specialists, like a dedicated network engineer, software developer or a Microsoft expert, we offer a solution that perfectly fits this need.</p>
            </div>
        </div>
    </div>
</section>