<section class="behind-header mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center" data-aos="fade-up" data-aos-offset="300">
                <div class="bg-shapes bg-shapes-services">
                    <img src="{{ 'assets/images/icons/dashed_line_plus_shapes.svg' | relative_url }}" alt="Background shapes">
                </div>
                <img class="mb-4" src="{{ 'assets/images/icons/about-icon.svg' | relative_url }}" alt="About" width="80">
                <h5 class="text-info spaced mb-5">VNK CONSULTANTS SERVICES</h5>
                <h2 class="mb-5">Realise predictable IT and power future growth</h2>
                <p class="text-xlarge font-weight-light mb-4">Your technology infrastructure needs to grow with your business. With the VNK Systems, Networks and Security team, you tap into highly trained, experienced technology experts to design and implement reliable, scalable and secure solutions.</p>
                <p class="text-xlarge font-weight-light">Starting with an analysis of your current environment, we then design and deploy a solution that leverages your current infrastructure and allows to integrate next-gen technologies. Once your solution is implemented, VNK can maintain and continue to provide support.</p>
            </div>
        </div>
    </div>
</section>