<section class="behind-header mb-5">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center" data-aos="fade-up" data-aos-offset="300">
                <img class="bg-shapes-services" src="{{ 'assets/images/icons/dashed_line_plus_shapes.svg' | relative_url }}" alt="Background shapes">
                <img class="mb-4" src="{{ 'assets/images/icons/about-icon.svg' | relative_url }}" alt="About" width="80">
                <h5 class="text-info spaced mb-5">VNK CONSULTANTS SERVICES</h5>
                <h2>We conduct intensive testing and reporting</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4" data-aos="fade-up">
                <div class="security-icon bg-secondary-gradient rounded mx-auto mb-3">
                    <img src="{{ 'assets/images/icons/secure.svg' | relative_url }}" alt="Security Reporting">
                </div>
                <h3 class="text-center">Security Reporting</h3>
            </div>
            <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="security-icon bg-secondary-gradient rounded mx-auto mb-3">
                    <img src="{{ 'assets/images/icons/penetration.svg' | relative_url }}" alt="Penetration Testing">
                </div>
                <h3 class="text-center">Penetration Testing</h3>
            </div>
            <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="security-icon bg-secondary-gradient rounded mx-auto mb-3">
                    <img src="{{ 'assets/images/icons/vulnerability.svg' | relative_url }}" alt="Vulnerability Testing">
                </div>
                <h3 class="text-center">Vulnerability Testing</h3>
            </div>
        </div>
    </div>
</section>