<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5" data-aos="fade-up">
                <h5 class="text-info spaced mb-4">HOW WE WORK</h5>
                <h2 class="mb-4">Our Approach</h2>
                <p class="font-weight-light line-height-large mb-4"> With a strategic combination of automation, process and infrastructure, we seamlessly integrate application security into the software lifecycle, thereby eliminating vulnerabilities during the lowest-cost point of the development process, and blocking threats while in production.</p>    
                <p class="font-weight-light line-height-large">Our comprehensive solution is managed by our security experts and stems from a powerful combination of best-in-class technology.</p>
            </div>
            <div class="col-lg-5">
                <div class="approach-card bg-white rounded d-flex align-items-center p-4 mb-4" data-aos="zoom-in-up">
                    <div class="progress-circle position-relative mr-4">
                        <img src="{{ 'assets/images/icons/progress-high.svg' | relative_url }}" alt="Application security">
                        <span class="progress-percentage">80%</span>
                    </div>
                    <div>
                        <h5 class="text-dark">Nearly 80% of applications</h5>
                        <p class="text-gray font-weight-light mb-0">written for the web contain at least one vulnerability on initial assessment</p>
                    </div>
                </div>
                <div class="approach-card bg-white rounded d-flex align-items-center p-4 mb-4" data-aos="zoom-in-up">
                    <div class="progress-circle position-relative mr-4">
                        <img src="{{ 'assets/images/icons/progress-high.svg' | relative_url }}" alt="Application security">
                        <span class="progress-percentage">83%</span>
                    </div>
                    <div>
                        <h5 class="text-dark">Web and mobile applications</h5>
                        <p class="text-gray font-weight-light mb-0">account for more than a third of data breaches</p>
                    </div>
                </div>
                <div class="approach-card bg-white rounded d-flex align-items-center p-4" data-aos="zoom-in-up">
                    <div class="progress-circle position-relative mr-4">
                        <img class="float-right" src="{{ 'assets/images/icons/progress-low.svg' | relative_url }}" alt="Application security">
                        <span class="progress-percentage">25%</span>
                    </div>
                    <div>
                        <h5 class="text-dark">Attacks at the application layer</h5>
                        <p class="text-gray font-weight-light mb-0">are growing by more than 25% annually</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>