<div class="section-padding bg-secondary-gradient">
    <div class="container">
        <div class="row justify-content-around section-margin">
            <div class="col-md-5 text-center" data-aos="fade-up">
                <img class="mb-4" src="{{ 'assets/images/icons/system.svg' | relative_url }}" alt="System">
                <h5 class="text-info spaced mb-4">INFRASTRUCTURE SOLUTIONS</h5>
                <h2 class="mb-4">System</h2>
                <p class="line-height-large font-weight-light">Whether it’s a rollout of Microsoft Windows, a thorough overhaul of desktops and servers or the need to support bring your own device (BYOD), VNK can architect and deploy a strategy that supports current and future needs.</p>
            </div>
            <div class="col-md-5 text-center" data-aos="fade-up" data-aos-delay="100">
                <img class="mb-4" src="{{ 'assets/images/icons/networks.svg' | relative_url }}" alt="System">
                <h5 class="text-info spaced mb-4">INFRASTRUCTURE SOLUTIONS</h5>
                <h2 class="mb-4">Networks</h2>
                <p class="line-height-large font-weight-light">As bandwidth requirements increase to support wireless, video and data devices, a high-performance network is key to keeping your business up and running. VNK designs scalable and secure networks that are built for growth.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8" data-aos="fade-up">
                <h2 class="text-center mb-5">Why VNK for your systems, networks and security needs?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" data-aos="zoom-in-up">
                <div class="infrastructure-card bg-white rounded p-4 mb-4 mt-4">
                    <img class="mb-4" src="{{ 'assets/images/icons/trained.svg' | relative_url }}" alt="Highly trained" width="85">
                    <h4 class="text-dark font-weight-normal mb-4">Highly Trained</h4>
                    <p class="font-weight-light text-small mb-0">VNK are highly trained, experienced technology experts</p>
                </div>
            </div>
            <div class="col-lg-3" data-aos="zoom-in-up" data-aos-delay="100">
                <div class="infrastructure-card bg-white rounded p-4 mb-4">
                    <img class="mb-4" src="{{ 'assets/images/icons/tech.svg' | relative_url }}" alt="Simplified Tech" width="85">
                    <h4 class="text-dark font-weight-normal mb-4">Simplified Tech</h4>
                    <p class="font-weight-light text-small mb-0">Simplified technology infrastructure solutions resulting in reduced operational costs</p>
                </div>
            </div>
            <div class="col-lg-3" data-aos="zoom-in-up" data-aos-delay="200">
                <div class="infrastructure-card bg-white rounded p-4 mb-4 mt-4">
                    <img class="mb-4" src="{{ 'assets/images/icons/knowledge.svg' | relative_url }}" alt="Expert Knowledge" width="85">
                    <h4 class="text-dark font-weight-normal mb-4">Expert Knowledge</h4>
                    <p class="font-weight-light text-small mb-0">Expert knowledge of the latest solutions for maximum data security</p>
                </div>
            </div>
            <div class="col-lg-3" data-aos="zoom-in-up" data-aos-delay="300">
                <div class="infrastructure-card bg-white rounded p-4 mb-4">
                    <img class="mb-4" src="{{ 'assets/images/icons/experienced.svg' | relative_url }}" alt="Experienced" width="85">
                    <h4 class="text-dark font-weight-normal mb-4">Experienced</h4>
                    <p class="font-weight-light text-small mb-0">Experienced across many industries and technology platforms including Cisco, EMC, Microsoft Azure, AWS, VMware and others</p>
                </div>
            </div>
        </div>
    </div>
</div>