<section class="we-secure bg-secondary-gradient">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5" data-aos="fade-up">
                <h5 class="text-info spaced mb-4">VNK CONSULTANTS</h5>
                <h2 class="mb-4">We secure your applications</h2>
                <p class="font-weight-light line-height-large">We pride ourselves on delivering application security solutions and services for today’s software-driven businesses. VNK Consulting Group assesses and improves the security of applications from inception through production so that businesses can confidently utilize web and mobile application strategies to improve business flow and customer experience.</p>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="security-card bg-white rounded p-5 mx-auto">
                    <img class="mb-4" src="{{ 'assets/images/icons/application-security.svg' | relative_url }}" alt="Application security">
                    <h3 class="text-info mb-4">Application Security</h3>
                    <p class="font-weight-light">We’ve worked with the most security centric agencies and know from experience strong security.</p>
                </div>
            </div>
        </div>
    </div>
</section>