<section class="{% if include.class %}{{ include.class }}{% else %}mb-3{% endif %}" data-aos="fade-left">
    <h4 class="text-info text-center font-weight-normal mb-4">Some customers we’ve worked with</h4>
    <div class="customers-carousel">
        {% for item in site.data.carousel.images %}
            <div class="px-4">
                <img src="{{ 'assets/images/slides/' | relative_url | append: item.image }}" alt="Customer slide">
            </div>
        {% endfor %}
    </div>
</section>