<header class="header-page jumbotron jumbotron-fluid overflow-hidden"
    style="background-image: url({{ 'assets/images/header/' | relative_url | append: page.header_image }})">
    {% include common/navigation.html %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="text-white mb-4">We Offer Free Consultation</h1>
                <p class="text-xlarge text-white">Got a problem that needs solving right now? Need help assessing your infrastructure or perhaps need to discuss data security?</p>
            </div>
        </div>
    </div>
</header>