<section class="behind-header">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center" data-aos="fade-up" data-aos-offset="300">
                <div class="bg-shapes-title">
                    <img src="{{ 'assets/images/icons/dashed_line_plus_shapes.svg' | relative_url }}" alt="Background shapes">
                </div>
                <img class="mb-4" src="{{ 'assets/images/icons/about-icon.svg' | relative_url }}" alt="About" width="80">
                <h5 class="text-info spaced mb-5">ABOUT VNK CONSULTANTS</h5>
                <h2 class="mb-5">At VNK Consulting Group, information technology is what we do</h2>
                <p class="text-xlarge font-weight-light mb-4">Supporting your IT needs and goals is what drives our business and what provides yours with the best of breed of technology. We are an expert team of highly dedicated IT specialists, supported by strategic and talented technology partners, who are laser focused on best of practice software development, Cyber security and IT infrastructure.</p>
            </div>
        </div>
    </div>
</section>