<section class="bg-secondary-gradient core-team">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h2 class="text-center">The Core Team</h2>
            </div>
        </div>
        {% for member in site.data.team %}
            {% cycle 'row-start': '<div class="row">', '' %}
                <div class="col-md-6 mb-4">
                    <div class="bg-white rounded border shadow d-flex align-items-center p-4">
                        <img class="rounded-circle mr-5" src="{{ 'assets/images/team/' | relative_url | append: member.image }}" alt="{{ member.name }}" width="87">
                        <div>
                            <h5>{{ member.name }}</h5>
                            <p class="mb-0">{{ member.title }}</p>
                        </div>
                    </div>
                </div>
            {% if forloop.last %}</div>{% else %}
            {% cycle 'row-end': '', '</div>' %}
            {% endif %}
        {% endfor %}
    </div>
</section>