<section class="bg-secondary-gradient core-team">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-8 text-center">
                <div class="team-icon bg-white rounded-circle mx-auto mb-4">
                    <img src="{{ 'assets/images/icons/social.svg' | relative_url }}" alt="Team">
                </div>
                <h5 class="text-info spaced mb-5">MEET THE CORE TEAM</h5>
                <h2>Be Part of the team that makes great things happen</h2>
            </div>
        </div>
        {% for member in site.data.team %}
            {% cycle 'row-start': '<div class="row justify-content-center">', '' %}
                <div class="col-md-5 mb-4">
                    <div class="bg-white rounded border shadow d-flex align-items-center p-4">
                        <img class="rounded-circle mr-5" src="{{ 'assets/images/team/' | relative_url | append: member.image }}" alt="{{ member.name }}" width="87">
                        <div>
                            <h5>{{ member.name }}</h5>
                            <p class="mb-0">{{ member.title }}</p>
                        </div>
                    </div>
                </div>
            {% if forloop.last %}</div>{% else %}
            {% cycle 'row-end': '', '</div>' %}
            {% endif %}
        {% endfor %}
    </div>
</section>